.header{
  width: 980px;
  height: 140px;
  background-color: #0D7962;
  margin: 0 auto 15px;
  color: #fff;
}

h1{
  text-align: center;
  margin-top: 20px;
}

main{
  width: 980px;
  height: 450px;
  margin: 0 auto 15px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.aside{
  width: 270px;
  height: 450px;
  background-color: #0D7962;
}

.section{
  width: 690px;
  height: 450px;
  background-color: #0D7962;
}

.footer{
  width: 980px;
  height: 70px;
  background-color: #0D7962;
  margin: 0 auto 30px;
  color: #fff;
}